.playersWrapper {
  display: flex;
  justify-content: space-between;
  margin: 5rem 15rem 0;
}

.placeBetWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerParagraph {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.explanationText {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.resultWrapper {
  margin: 10rem 0;
  text-align: center;
}

.vsParagraph {
  font-size: 3rem;
  margin-bottom: 10rem;
}

.vs {
  display: block;
  margin: 3rem 0;
  font-size: 10rem;
}

.resultParagraph {
  font-size: 2rem;
}
