.totalBetIndicatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.totalBetIndicator {
  font-size: 3rem;
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  padding: 1rem 2rem;
}

.playersWrapper {
  display: flex;
  justify-content: space-between;
  margin: 5rem 15rem 0;
}

.playerColumn {
  width: 20%;
  text-align: center;
}

.playerTitle {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.placeBetWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameAddressWrapper {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.gameAddress {
  font-size: 2rem;
  width: min-content;
}

.gameAddressTitle {
  text-decoration: underline;
}

.playerChoiceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.playerChoice {
  font-size: 2rem;
}

.playerChoiceHidden {
  background-color: black;
}

.timeoutTimer {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.playerParagraph {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.explanationText {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.resultWrapper {
  margin: 10rem 0;
  text-align: center;
}

.vsParagraph {
  font-size: 3rem;
  margin-bottom: 10rem;
}

.vs {
  display: block;
  margin: 3rem 0;
  font-size: 10rem;
}

.resultParagraph {
  font-size: 2rem;
}

.endGameMessageContainer {
  margin: 6rem 0;
  padding: 3rem 2rem;
  background-color: rgba(66, 0, 255, 0.1);
}

.endGameMessage {
  font-size: 3rem;
  font-weight: bold;
}
